@font-face {
  font-family: 'Vacer Serif Personal Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Vacer Serif Personal Bold'), url('VacerSerifBoldPersonal.woff') format('woff');  
  }

  h1 {
    font-family: 'Vacer Serif Personal Bold';
    color: rgb(14, 48, 94);
  }

