body {
  margin: 0;
  padding: 0;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
  background: linear-gradient(to right, rgb(145, 100, 97), rgb(135, 159, 236));
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
